{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">Tiendas disponibles</h2>

    <div class="row">

        {% for tienda in tiendas %}

        <div class="col-md-4">

            <div class="card mb-4">

                <img
                    src="{{ url_for('static',
                    filename='uploads/' + tienda.tie_imagen) }}"
                    class="card-img-top"
                    height="250"
                >

                <div class="card-body">
                    <h5>{{ tienda.tie_nombre }}</h5>

                    <p>📍 {{ tienda.tie_direccion }}</p>

                    <a href="/tienda/{{ tienda.tie_id }}" class="btn btn-primary">Ver productos</a>
                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% if not cookies %}

<div class="position-fixed bottom-0 end-0 m-4" style="z-index:9999;">
    <div class="card shadow-lg border-0" style="width: 24rem; border-radius: 18px;">
        <div class="card-body p-4">

            <h5 class="card-title mb-3">
                🍪 Política de Cookies
            </h5>

            <p class="card-text text-muted">
                Utilizamos cookies para mejorar tu experiencia,
                personalizar contenido y analizar el tráfico de nuestra tienda.
            </p>

            <a href="{{ url_for('tienda.politica_cookies') }}" class="small text-decoration-none">
                Leer política de cookies
            </a>

            <div class="d-flex gap-2 mt-4">

                <a href="{{ url_for('tienda.aceptar_cookies') }}"
                   class="btn btn-dark w-100">
                    Aceptar
                </a>

                <a href="{{ url_for('tienda.rechazar_cookies') }}"
                   class="btn btn-outline-secondary w-100">
                    Rechazar
                </a>

            </div>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}